h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
}

p {
    text-align: center;
}
/*************** Header Anfang *****************/
#header {
    width: 100%;
}
#header nav {
    width: 80%;

    margin: auto;
    display: flex;
    justify-content: space-between;
}
#marcoLogo {
    width: 150px;
}

#HederSocialMedia img {
    border-radius: 50%;
    background-color: bisque;
}
#HederSocialMedia img:hover {
    background-color: orange;
}

#nav-link {
    order: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nav-Menu a {
    padding-right: 7px;
    text-decoration: none;
    color: rgb(239, 65, 65);
    font-weight: bold;
}
#nav-Menu a:hover {
    color: brown;
}

/*************** Header Ende *****************/

/*************** Main Anfang *****************/
/*************** introduction Section *****************/
#introduction {
    width: 90%;
    margin: 50px auto;
    padding-bottom: 50px;
}
.jumbotron {
    background-color: linen;
    padding: 50px 0;
}
#introduction h1 {
    color: brown;
}
#introduction h1:hover {
    color: rgb(200, 112, 112);
}

/* #introduction p:first-child {
    text-align: center;
} */

#introduction p {
    width: 60%;
    margin: auto;
    text-align: center;
    color: rgb(62, 40, 40);
}

#introduction hr {
    color: brown;
    width: 80%;
    margin: auto;
}

/***************Filter Section *****************/
#filter-section {
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

#filter-section select {
    width: auto;
    height: 30px;
    text-align: center;
    font-family: Arial;
    background-color: linen;
    border-radius: 10px;
}

/*************** recipe Section *****************/
#recipe-section img {
    display: block;
    margin: 40px;
    height: 400px;
    max-width: 300px;
}
#recipe-section h3 {
    text-align: center;
    color: black;
}
#recipe-section h4 {
    text-align: right;
    margin: 0 20px 40px 0;
    color: grey;
}
.recipe-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: lightgreen; */
}

.recipe {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 400px;
    border: 1px solid;
    margin-bottom: 40px;
    border-color: grey;
    margin: 10px;
}
/*************** Main Ende *****************/

/*************** Footer Anfang *****************/

/*************** Footer Ende *****************/
