h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
}

p {
    text-align: center;
}
/*************** Header Anfang *****************/
#HederSocialMedia img {
    border-radius: 50%;
    background-color: bisque;
}
/*************** Header Ende *****************/

/*************** Main Anfang *****************/

/*************** recipe Section *****************/
#recipe-section img {
    display:block;
    margin: 40px auto 40px;
    height: 400px;
}
#recipe-section h3 {
    text-align: center;
    color: black;
}
#recipe-section h4 {
    text-align: right;
    margin: 0 20px 40px 0;
    color: grey;
}
#recipe-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    background-color: lightgreen;
}

.recipe {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 400px;
    border: 1px solid;
    margin-bottom: 40px;
    border-color: grey;
}
/*************** Main Ende *****************/

/*************** Footer Anfang *****************/

/*************** Footer Ende *****************/
